<div class="box-left">
    <div class="info-block">
        <p>SteamID это уникальный номер используемый для идентификации аккаунта Стим. SteamID может быть конвертирован
            в более новые steamID3 или steamID64, также связан с комьюнити ID или ID друга. С этим steamID64 можно
            найти страницу пользователя в Steam<br>
            Оригинальный URL - это опция, которая позволяет персонализировать страницу пользователя в сообществе Steam.
        </p>
    </div>

    <form method="get" action="{% url 'SteamID:search' 'find_' %}" class="steamid">
        <div class="searchbox">
            <input id="search" placeholder="Enter URL or SteamID" required name="steam">
            {% load static %}
            <input class="search-btn" type="submit" value="">
        </div>
    </form>
</div>


<div class="info-block" style="width: 35%">
    <p>SteamID это уникальный номер используемый для идентификации аккаунта Стим. SteamID может быть конвертирован
        в более новые steamID3 или steamID64, также связан с комьюнити ID или ID друга. С этим steamID64 можно
        найти страницу пользователя в Steam<br>
        Оригинальный URL - это опция, которая позволяет персонализировать страницу пользователя в сообществе Steam.
    </p>
</div>

<div style="clear: both"></div>
