{% load i18n %}

<div class="box-left">
    <div class="info-block">
        {% blocktrans %}
            <p>Welcome to Steam User Finder!
            </p>
        {% endblocktrans %}
    </div>

    <form method="get" action="{% url 'SteamID:search' 'find_' %}" class="steamid">
        <div class="searchbox">
            <input id="search" placeholder="{% trans "Enter URL or SteamID" %}" required name="steam">
            {% load static %}
            <input id="search-btn" type="submit" value="">
        </div>
    </form>
</div>


<div class="info-block" style="width: 35%">
    {% blocktrans %}
        <p>How to Use!</p>
        <p>1</p>
        <p>2</p>
    {%  endblocktrans %}
</div>

<div style="clear: both"></div>
