<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}

    {% endblock %}</title>
    {% load static %}
    <link type="text/css" rel="stylesheet" href="{% static 'SteamID/css/template.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Caveat|Pangolin&display=swap&subset=cyrillic" rel="stylesheet">
</head>
<body>
    <div id="container">
        <div class="align-content-center">
            <h1>Steam user Finder</h1>
            <div class="content">
                {% block content %}

                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>