{% extends 'SteamID/Template.html' %}

{% block title %}
    {{ user.nick }} - Steam Finder
{% endblock %}

{% block content %}
    <img src="{{ user.avatar_big }}">
    <p>steam id = {{ user.steam_id }}</p>
    <p>nick = {{ user.nick }}</p>
    <p>url = {{ user.url }}</p>
    <p>avatar = {{ user.avatar_mini }}</p>
    <p>status = {{ user.get_status }}</p>
    <p>comment = {{ user.comment }}</p>
    <p>realname = {{ user.realname }}</p>
    <p>clanid = {{ user.clanid }}</p>
    <p>logoff = {{ user.logoff }}</p>
    <p>created = {{ user.created }}</p>
    <p>appid = {{ user.in_game }}</p>
    <p>serverip = {{ user.serverip }}</p>
    <p>game info = {{ user.in_game_info }}</p>
    <p>country = {{ user.country }} <img src="https://www.countryflags.io/{{ user.country }}/shiny/24.png"></p>
    <p>level = {{ user.level }}</p>
    <p>visible = {{ user.get_visibility }}</p>

    <progress max="{{ user.progress_max }}" value="{{ user.progress_curr }}">need {{ user.need_xp }}</progress>

    {% for friend in user.friends %}
        <p><img src="{{ friend.avatar_mini }}"> <a href="{% url 'SteamID:user_detail' friend.steam_id %}">{{ friend }}</a></p>
    {% endfor %}
    <hr>
    {% for game in user.games %}
        <p><img src="{{ game.app_icon }}"> {{ game.app_name }}</p>
    {% endfor %}

{% endblock %}