<div class="tabs-line">
    {% for friends_stack in user.friends %}
        <button class="tablinks"
                onclick="openLink(event, 'tabid_{{ forloop.counter0 }}')">{{ forloop.counter }}</button>
    {% endfor %}
</div>

{% load static %}


<div>
    {% for friends_stack in user.friends %}
        <div id="tabid_{{ forloop.counter0 }}" class="inline-group" style="display:none">
            <table class="table-data" style="width: 100%">
                {% for friend in friends_stack %}
                    <tr>
                        <td><a href="steam://friends/add/{{ friend.steam_id }}">
                            <img class="user-add" src="{% static 'SteamID/images/user.png' %}"
                                 title="Add to friend">
                        </a></td>
                        <td class="table-value"><img src="{{ friend.avatar_mini }}"></td>
                        <td class="table-value"><a class="usr-id"
                                                   href="{% url 'SteamID:search' friend.steam_id %}">{{ friend.nick }}</a>
                        </td>
                        <td class="table-value">{{ friend.get_status }}</td>
                        <td class="table-value">{% if friend.in_game %}
                            <span style="color: #7FA94F">{{ friend.in_game_info }}</span>{% endif %}</td>
                        <td class="table-value">{{ friend.relationship }} from {{ friend.friend_date|date:"d.m.Y" }}</td>
                        <td class="table-value">{{ friend.ban_VAC_count }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    {% endfor %}

</div>

{% include 'SteamID/tables/script_table.html' %}

